@model IEnumerable<Nhom10.Models.QLNV>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p> 
    <a asp-action="Create">Creat New</a> | <a asp-action="Upload">Input Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QLNVID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QLNVName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QLNVID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QLNVName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.QLNVID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.QLNVID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QLNVID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>